doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
        link(rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon")
        title FaceCall
    body 
        header
            h1 FaceCall 
        main
            div#landingPage 
                h2 Welcome to FaceCall
                div#beforeNickname
                    h3 Please write your nickname
                    form#nickname
                        input(type="text" placeholder="write your nickname")
                div#afterNickname
                div#beforeRoomName
                    h3 make a room
                    form#roomName
                        input(type="text" placeholder="Roomname")
                div 
                    h3#roomList RoomList
            div#callPage
                h3 My Camera
                    div 
                        video#myCamera(autoplay, playsinline, width="400px", height="400", style="-moz-transform: rotateY(180deg); -webkit-transform: rotateY(180deg); transform: rotateY(180deg)")
                        div
                            select#myAudioList
                            select#myCameraList 
                            button#myAudioMute Mute
                            button#myCameraOff Turn off Camera
                h3 Peer Camera 
                    div
                        video#peerCamera(autoplay, playsinline, width="400px", height="400")
                        div
        script(src="/socket.io/socket.io.js")
        script(src="/public/js/app.js")