doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
        link(rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon")
        title FaceCall
    body 
        header
            h1 FaceCall 
        main
            div#landingPageDiv 
                h2 Welcome to FaceCall
                div#submitNicknameDiv
                    h3 Please write your nickname
                    form#nickNameForm
                        input(type="text" placeholder="write your nickname")
                div#submittedUserNickNameDiv
                div#submitRoomNameDiv
                    h3 make a room
                    form#roomNameForm
                        input(type="text" placeholder="Roomname")
                div#roomListDiv 
                    h3 RoomList
            div#callPageDiv
                h3#mySection My Camera
                    video#myCamera(autoplay width="400px" height="400" style="-moz-transform: rotateY(180deg); -webkit-transform: rotateY(180deg); transform: rotateY(180deg)")
                    div
                        ul#myAudio
                        ul#myVideo 
                        button mute
                        button turn off camera
                h3#preerSection Peer Camera 
                    video#peerCamera(autoplay width="400px" height="400")
                    div
                        ul#peerAudio
                        ul#peerVideo 
                        button mute
                        button turn off camera
        script(src="/socket.io/socket.io.js")
        script(src="/public/js/app.js")