doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
        title FaceCall
    body 
        header
            h1 FaceCall 
        main
            div#landingpage 
                h2 Welcome to FaceCall
                h3 Please write your nickname
                input#nickname(type="text" placeholder="Nickname")
                h3 make a room 
                input#roomname(type="text" placeholder="Roomname")
                div#roomlist 
                    h3 RoomList
            div#callpage
                h3#mycamera My Camera
                    video#mycamera(autoplay width="400px" height="400")
                    div
                        ul#myaudio
                        ul#myvideo 
                        button mute
                        button turn off camera
                h3#peercamera Peer Camera 
                    video#peercamera(autoplay width="400px" height="400")
                    div
                        ul#peeraudio
                        ul#peervideo 
                        button mute
                        button turn off camera
        script(src="/socket.io/socket.io.js")
        script(src="/public/js/app.js")