doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
        title FaceCall
    body 
        header
            h1 FaceCall 
        main 
            h2 Welcome to FaceCall
            button click
        script(src="/public/js/app.js")